:root{
    --primary-cyan: hsl(179, 62%, 43%);
    --primary-bright-yellow: hsl(71, 73%, 54%);
    --ntrl-gray:hsl(204, 43%, 93%);
    --ntrl-blue:hsl(218, 22%, 67%);
}
html{
    font-size:16px;
    font-family: 'Karla', sans-serif;
}
*{
    box-sizing: border-box;
}



@-moz-document url-prefix() {

    /* Disable scrollbar Firefox */
    html {
        scrollbar-width: none;
    }
}

body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Disable scrollbar Chrome/Safari/Webkit */
}
body{
    margin: 0;
    padding:0;
     /* remove default margin */
     scrollbar-width: none;
     /* Also needed to disable scrollbar Firefox */
     -ms-overflow-style: none;
     /* Disable scrollbar IE 10+ */
     overflow-y: scroll;
}
footer{
    display:block;
}
.main-content{
    display:flex;
    flex-flow:row wrap;
    height: 100%;
    width:100%;
    
}
.container{
    padding: 100px;    
}
.cta{
    flex:1 1 100%;
    
}

.cta-header{
    color:var(--primary-cyan);
    font-weight: 700;
    font-size: 3em;
}
.cta-subheader{
    color:var(--primary-bright-yellow);
    font-weight: 700;
    font-size:1.7em;

}
.cta-p{
    color:var(--ntrl-blue);
    font-size:1.2em;
}

.subsc{
    flex:  0 1 50%;
    background-color:var(--primary-cyan);
    color:white;
    
}
.heading-m{
    font-weight: 700;
    font-size:1.7em;
    letter-spacing: 1px;
}
.subsc-p-light{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}
.subsc-price{
    font-weight: 700;
    font-size:3em;
    padding-right:15px;
    text-align: center;
}
.subsc-price-sub{
    text-align: center;
     color:var(--ntrl-gray);
     font-weight:700;
}

.subsc-button{
    padding:20px;
    width: 100%;
    outline: 0;
    border:0;
    box-shadow: 1px 1px 8px var(--ntrl-blue);
    background-color:var(--primary-bright-yellow);
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 1px;
    color:white;
    margin-top:20px;
    border-radius: 5px;
}
.about{
    flex:  0 1 50%;
    background-color:hsl(179, 82%, 45%);;
    color:white;
    
}
.about p {
    font-size: 1.5em;
    
}
@media screen and (max-width:768px) {
    .container{
        padding:40px
        
    }
    .main-content{
        align-content:center;
        text-align:center;
    }
    .cta{
        flex:0 1 100%;
    }
    .subsc{
        flex:0 1 100%;
    }
    .about{
        flex:0 1 100%;
    }
}